<p>
  <%= t('invitations.header1', locale: @locale) %>
</p>

<p>
  <%= t('invitations.header2', locale: @locale) %>
</p>

<p>
  <%= link_to t('invitations.link', locale: @locale),
              controller: 'registrations',
              action: 'new',
              email: @email,
              token: @token,
              locale: @locale %>
</p>
